$etwinBarHeight: 40px;

.etwin-bar-placeholder {
  height: $etwinBarHeight;
}

etwin-bar {
  height: $etwinBarHeight;
  background-color: $deepBlack;
  color: $lightViolet;
  border-bottom:1px solid $red;
  width: 100%;

  .buttonList {
    float:right;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100%;
  }

  .button {
    font-weight: 800;
    color: $lightWhite;
    margin: 0;
    padding: 6px 12px;
    height: 39px;
    text-decoration: none;
    line-height: 1.8em;

    cursor: pointer;
    width: auto;
    background-color:$deepBlack;;
    border: none;
    border-left: 1px solid $mediumGrey;

    transition: color .15s, background-color .15s;

    &:hover, &:focus {
      background-color: $darkViolet;
      text-decoration: none;
    }
  }
  .notif {
    font-weight: 800;
    color: $lightWhite;
    margin: 0;
    padding: 6px 12px;
    height: 39px;
    text-decoration: none;
    line-height: 1.8em;

    cursor: pointer;
    width: auto;
    background-color:$deepRed;;
    border: none;
    border-right: 1px solid $mediumGrey;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    transition: color .15s, background-color .15s;

    &:hover, &:focus {
      background-color: $darkViolet;
      text-decoration: none;
    }
  }
  .spacer {
    flex: 1;
  }
}
