<div class="actions">
  <form
    ngNoForm
    method="POST"
    enctype="application/x-www-form-urlencoded"
    action="/actions/job/create"
    [formGroup]="form"
    (ngSubmit)="onSubmit($event)"
  >
    <label>
      <span i18n="Task kind@@settings.createJob.kind">Task kind</span>
      <input type="text" name="kind" class="field" required="required" [formControl]="kind"/>
    </label>
    <label>
      <span i18n="Task state@@settings.createJob.state">Task state</span>
      <input type="text" name="state" class="field" required="required" [formControl]="state"/>
    </label>
    <input type="submit" name="create_job" class="btn primary" i18n-value="Create job@@settings.createJob.submit"
           value="Create job" [disabled]="form.invalid || pendingSubscription !== null" />
    <div *ngIf="serverError" class="error" i18n="@@login.etwin.unknownError">
      Failed to create job, check server logs.
    </div>
  </form>
</div>
