<div class="img" [class.locked]="isLocked">
  <img src="assets/hammerfest/items/{{itemId}}.png" alt="{{itemId | hammerfestItemName}}"/>
</div>
<div class="tooltip">
  <div class="name">{{itemId | hammerfestItemName}}</div>
  <div class="count">{{count}}</div>
</div>
<div class="item-count">{{count == 0 ? "&nbsp;" : count}}</div>
