<etwin-small-layout>
  <div class="content">
    <ng-container [ngSwitch]="method">
      <ng-container *ngSwitchCase="AuthMethod.Dinoparc">
        <etwin-login-dinoparc></etwin-login-dinoparc>
      </ng-container>
      <ng-container *ngSwitchCase="AuthMethod.Hammerfest">
        <etwin-login-hammerfest></etwin-login-hammerfest>
      </ng-container>
      <ng-container *ngSwitchCase="AuthMethod.Twinoid">
        <etwin-login-twinoid></etwin-login-twinoid>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <etwin-login-etwin></etwin-login-etwin>
      </ng-container>
    </ng-container>
    <p>
      <a routerLink="/register" i18n="@@login.registrationLink">Need an account? Register</a>
    </p>
    <p>
      <a routerLink="/support" class="button">Support</a>
    </p>
  </div>
<!--  <div class="content login_methods">-->
<!--    <a routerLink="/login" [queryParams]="{method: 'etwin', next: next}" class="btn" *ngIf="method !== AuthMethod.Etwin">-->
<!--      <img src="assets/login-methods/eternal-twin.png"/>-->
<!--      <ng-container i18n="@@login.method.etwin">Sign in with Eternaltwin</ng-container>-->
<!--    </a>-->
<!--  </div>-->
</etwin-small-layout>
