@import "../../../../styles/variables";

.spoiler {
  --strokes-color-1: #{transparentize($deepBlack, .7)};
  --strokes-color-2: #{lighten($darkGrey, 12%)};

  &.block { display: block; }

  text-align: inherit;
  cursor: pointer;
  padding: 0 .2em;
  border-radius: .25em;
  background-image: linear-gradient(135deg,
    var(--strokes-color-1) 22%,
    var(--strokes-color-2) 22%,
    var(--strokes-color-2) 50%,
    var(--strokes-color-1) 50%,
    var(--strokes-color-1) 72%,
    var(--strokes-color-2) 72%,
    var(--strokes-color-2) 100%);   // diagonal gradient to create a stripes effect background
  background-size: 12px 12px;
  line-height: 1.5;
  color: transparent;
  box-shadow: inset 0 -1px 0 0 var(--strokes-color-2);
  outline: none;

  & > span { // hidden content
    visibility: hidden;
    pointer-events: none;

    transition-delay: 0s; // tricks the browser to prevent clic actions (such as links) to initiate inside hidden spoilers
  }

  &::selection {
    color: transparent;
    background: none;
  }

  &:hover { --strokes-color-2: #{lighten($darkGrey, 22%)}; }

  &:active, &:focus, &:focus-within {
    background: transparentize($lightWhite, .9);
    color: darken($lightWhite, 10%);

    & > span {
      visibility: initial;
      pointer-events: initial;

      transition: all 0s 0.05s;
    }

    &::selection {
      color: inherit;
      background: inherit;
    }
  }

  :host-context(.spoiler) .spoiler {
    &:active, &:focus, &:focus-within {
      background: transparent;
    }
  }
}